html {
  --main-bg-color: rgb(130, 206, 219);
  --main-txt-color: rgb(92, 97, 97);
  --light-txt-color: rgb(145, 153, 153);
}

body {
  margin: 0;
}

.btn-transparent {
  background: none;
  border: none;
}

.link-nostyle, .link-nostyle:hover {
  text-decoration: none;
  color: unset;
}

.title-big {
  font-size: 18px;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.text-linethrough{
  text-decoration: line-through;
}

.header {
  background-color: var(--main-bg-color);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  /*position: relative; */
}

.center {
  height: 500px;
  padding: 0 50px;
  overflow: auto;
}

.center .category {
  display: flex;
  color: var(--main-txt-color);
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  font-size: 22px;
}

.btn {
  border: 1px solid var(--light-txt-color);
  border-radius: 0;
  font-size: 18px;
}

.btn-select {
  width: 250px;
}

.btn-split {
  background-color: var(--main-bg-color);
  color: white;
}

.ingredients {
  /* padding: 25px; */
}

.items {
  text-align: center;
  margin-bottom: 25px;
}

.add-item input {
  text-align: center;
  border: 1px dashed var(--main-txt-color);
  width: 100%;
}

.item {
  border: 1px solid var(--main-txt-color);
  margin: 5px 0;
  color: var(--main-txt-color0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredients .item p {
  margin: 0;
  padding: 5px;
}

.ingredients .item input {
  margin: 5px;
}

.footer {
  background-color: var(--main-bg-color);
  padding: 25px 25px 0 25px;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer ul li {
  /* display: inline; */
  list-style: none;
  color: white;
  text-align: center;
}

.footer ul li i {
  font-size: 25px;
}