@import url('./footer.css');
@import url('./header.css');
@import url('./modal.css');
@import url('./items.css');
@import url('./buttons.css');
@import url('./center.css');

html {
  --main-bg-color: rgb(130, 206, 219);
  --main-txt-color: rgb(92, 97, 97);
  --light-txt-color: rgb(145, 153, 153);
}

body {
  margin: 0;
}

.link-nostyle,
.link-nostyle:hover {
  text-decoration: none;
  color: unset;
}

.title-big {
  font-size: 18px;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.text-linethrough {
  text-decoration: line-through;
}
