<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./css/style.css">
  <title>Groceries</title>
  <script src="https://kit.fontawesome.com/0824285e7f.js"></script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <header class="header">
          <div class="header-left">
            <p class="title-big">GROCERIES APP</p>
          </div>

          <div class="header-right">
            <a id="login-link" class="title-big link-nostyle" href="#">Login</a>
          </div>

        </header>
        <div class="center">
          <div class="category">

            <div class="btn-group" style="width: 200px;">
              <button id="dropdown-recipes-selection" class="btn btn-select" type="button">
                All
              </button>
              <button type="btn" class="btn btn-split dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div id="dropdown-recipes" class="dropdown-menu dropdown-menu-right" style="width: 100%;">
              </div>
            </div>
<!-- 
            <select class="selectpicker">
              <option value="1" selected="selected">Feature 1</option>
              <option value="2">Feature 2</option>
              <option value="3">Feature 3</option>
              <option value="4">Feature 4</option>
            </select> -->

            <!-- <div class="btn-group dropdown" uib-dropdown="" style="">
                <button id="split-button" type="button" class="btn btn-danger">{{selectedItem || 'Choose Item'}}</button>
                <button type="button" class="btn btn-danger dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" role="menu" aria-labelledby="split-button" class="dropdown-menu">
                  <li role="menuitem" ng-repeat="item in items" ng-click="selectItem(item)"><a href>{{item}}</a></li>
                </ul>
              </div> -->


            <button class="btn-transparent" type="button" id="add-recipe"><i class="fas fa-plus-circle"></i> </button>

          </div>

          <div class="ingredients">
            <div class="items" id="pending-items">
              <form class="add-item">
                <input type="text" id="new-ingredient" value="" name="new-ingredient" placeholder="Add new item">
              </form>
            </div>

            <div class="btn-group">
              <button id="btn-completed" class="btn-transparent">Completed</button>
              <i class="fas fa-chevron-up"></i>
              <i class="fas fa-chevron-down"></i>
            </div>

            <div class="items" id="completed-items">

            </div>
          </div>
        </div>

        <footer class="footer">
          <ul>
            <li>
              <a href="" id="list-link" class="link-nostyle">
                <i class="fas fa-list-ul"></i>
                <p>List</p>
              </a>
            </li>
            <li>
              <a href="" id="stats-link" class="link-nostyle">
                <i class="fas fa-chart-pie"></i>
                <p>Stats</p>
              </a>
            </li>
            <li>
              <a href="" id="recipes-link" class="link-nostyle">
                <i class="fas fa-utensils"></i>
                <p>Recipes</p>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>